@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
    width: 800px;
    margin: 0 auto;
    padding: 50px;
    color: #555555;
    font-family: 'Open Sans';
    font-size: 10pt;
    /*font: 14px/1.5 Lato, sans-serif;
    font-weight: 300;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    margin:0 0 20px;
}

h1, h2, h3 {
    line-height:1.1;
}

h1 {
    color:#393939;
    margin: 0 0 40px;
    padding: 0;
    font-size: 300%;
}

h2 {
    color:#494949;
    font-size: 200%;
}

h3 {
    color:#555555;
    font-size: 175%;
}

h4, h5, h6 {
    color:#777777;
    font-size: 150%;
}

a {
    color: #67ad00;
    /*color: #3399cc;*/
    font-weight:400;
    text-decoration:none;
}

a:hover {
    color: #7fd600;
    /*color: #006699;*/
}

a small {
    font-size:11px;
    color:#777777;
    margin-top:-0.6em;
    display:block;
}

a:hover small {
    color:#777777;
}

p, ul, ol, table, pre, dl {
    /*margin:0 0 20px;*/
}

blockquote {
    border-left:1px solid #e5e5e5;
    margin:0;
    padding:0 0 0 20px;
    font-style:italic;
}

code, pre {
    font-family:Inconsolata;
    color:#777777;
    font-size:12px;
}

pre {
    padding:8px 15px;
    background: #f8f8f8;
    border-radius:5px;
    border:1px solid #e5e5e5;
    overflow-x: auto;
}

table {
    width:80%;
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}

.table-number {
    font-weight:700;
}

th, td {
    text-align:left;
    padding:5px 10px;
    border-bottom:1px solid #e5e5e5;
}

dt {
    color:#444444;
    font-weight:700;
}

th {
    color:#444444;
}

img {
    max-width:100%;
}

img.hidden {
    display: none;
}

.figure {
    text-align: center;
}

.figure-number {
    font-weight:700;
}

#table-of-contents {
    margin-bottom: 40px;
}

#toc {
    position: fixed;
    top: 10px;
    right: 20px;
    text-align: left;
    background-color: white;
}

#toc .button {
    padding: 3px;
    position: fixed;
    right: 20px;
    width: 100px;
    text-align: right;
    cursor: pointer;
    font-size: 20px;
}

#toc div {
    height: 0;
    width: 0;
    margin-top: 15px;
}

#toc:hover div {
    width: auto;
    height: auto;
    padding: 1em 1em;
}

#content {
    width:700px;
    float:right;
    padding-bottom:50px;
/* border:1px solid #e5e5e5; */
/* border-width:1px 0; */
/* padding:20px 0; */
/* margin:0 0 20px; */
}

strong {
    color:#222;
    font-weight:700;
}

small {
    font-size:11px;
}

hr {
    border:0;
    background:#e5e5e5;
    height:1px;
    margin:0 0 20px;
}

.footpara {
    display: inline;
}

.scrollbar-container {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 20px;

    border: 4px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
    background-color: whiteSmoke;
}
.scrollbar-container .inner {
    height: 2011px;
    width: 1985px;
    padding: 1em;
    background-color: white;
    font-family: sans-serif;
}
::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: solid whiteSmoke 4px;
    border-radius:15px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

header {
    width:270px;
    float:left;
    position:fixed;
}

header ul {
    list-style:none;
    height:40px;

    padding:0;

    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);

    border-radius:5px;
    border:1px solid #d2d2d2;
    box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
    width:270px;
}

header li {
    width:89px;
    float:left;
    border-right:1px solid #d2d2d2;
    height:40px;
}

header li:first-child a {
    border-radius:5px 0 0 5px;
}

header li:last-child a {
    border-radius:0 5px 5px 0;
}

header ul a {
    line-height:1;
    font-size:11px;
    color:#999;
    display:block;
    text-align:center;
    padding-top:6px;
    height:34px;
}

header ul a:hover {
    color:#999;
    background: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd));
    background: -webkit-linear-gradient(top, #fff 0%,#ddd 100%);
    background: -o-linear-gradient(top, #fff 0%,#ddd 100%);
    background: -ms-linear-gradient(top, #fff 0%,#ddd 100%);
    background: linear-gradient(top, #fff 0%,#ddd 100%);
}

header ul a:active {
    -webkit-box-shadow: inset 0px 2px 2px 0px #ddd;
    -moz-box-shadow: inset 0px 2px 2px 0px #ddd;
    box-shadow: inset 0px 2px 2px 0px #ddd;
}

header ul li + li {
    width:88px;
    border-left:1px solid #fff;
}

header ul li + li + li {
    border-right:none;
    width:89px;
}

header ul a strong {
    font-size:14px;
    display:block;
    color:#222;
}

footer {
    width:270px;
    float:left;
    position:fixed;
    bottom:50px;
}

#preamble {
    /* font-size:1.1em; */
    text-transform:uppercase;
    float:left;
    margin-left:-6em;
    width:15em;
    text-align:right;
    position:fixed;
}

#preamble a {
    display:block;
    padding:0.2em 1em;
    color:#39c;
}

#preamble a:hover {
    background-color:#39c;
    text-decoration:none;
    color:#f9f9f9;
    -webkit-transition:color .2s linear;
}

#postamble {
    clear: both;
    text-align: center;
    font-size:10px;
}

@media print, screen and (max-width: 960px) {

    body {
        width:auto;
        margin:0;
    }

    header, content, footer {
        float:none;
        position:static;
        width:auto;
    }

    header {
        padding-right:320px;
    }

    header a small {
        display:inline;
    }

    header ul {
        position:absolute;
        right:50px;
        top:52px;
    }
}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap:break-word;
    }

    header {
        padding:0;
    }

    header ul, header p.view {
        position:static;
    }

    pre, code {
        word-wrap:normal;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding:15px;
    }

    header ul {
        display:none;
    }
}

@media print {
    body {
        padding:0.4in;
        font-size:12pt;
        color:#444;
    }
}
